Ice.Default.Locator=DemoIceGrid/Locator:default -h localhost -p 4061

# Propiedad que define el proxy para el servidor regional.
# El valor debe ser la identidad del objeto en IceGrid: <identidad>@<nombre_adaptador>
servidorRegional.Proxy=receptorVotos@RegionalAdapter

MesaCallbackAdapter.Endpoints=tcp -h localhost -p 0