#
# Configuración del Nodo Regional
# Este nodo maneja el Servidor Regional
#

# Configuración del Registry
Ice.Default.Locator=DemoIceGrid/Locator:default -h localhost -p 4061

# Configuración del Nodo Regional
IceGrid.Node.Name=nodeRegional
IceGrid.Node.Endpoints=tcp -h localhost -p 4062
IceGrid.Node.Data=data/nodeRegional
# IceGrid.Node.Output=logs  <-- Comentado para ver logs en la consola del nodo
IceGrid.Node.RedirectErrToOut=1

# Configuración de logging
Ice.Trace.Network=0
Ice.Trace.Protocol=0
Ice.Warn.Connections=1

# Configuración de threading para el Servidor Regional
# Esta es la forma recomendada para evitar warnings.
IceGrid.Node.ThreadPool.Size=10
IceGrid.Node.ThreadPool.SizeMax=100 